body {
  background-color: #202124;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: unset;
}

p {
  margin: 20px;
  color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  text-align: left;
  color: white;
  font-size: 10px;
}

.header-item {
  color: white;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 800;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 20px;
}

.header-title {
  color: white;
  align-items: left;
}
